<div class="temperature">{{temperature}}º</div>
<div class="icon">
  <i class="wi wi-fw {{iconName}}"></i>
</div>
<div class="info">
  <span class="city">{{city}}</span>
  <span class="date">{{date}}</span>
</div>
<div class="chart-container">
  <canvas class="chart" height="100"></canvas>
</div>
<div class="wind">
  <div class="wind-icon">
    <i class="wi wi-strong-wind"></i>
  </div>
  <div class="wind-info">
    <div class="speed">{{wind.speed}} 公里/小时</div>
    <div class="direction">{{wind.direction}}风</div>
  </div>
</div>
