.searchList {
  * {}
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid gray;
  border-radius: 4px;
  background: #eee;

  .select {
    background: #00ABD7;
  }

  li {
    font-size: 12px;
    padding: 0 3px;

    a {
      padding: 3px;
      display: block;
      text-decoration: none;

      &:hover {
        background: #CCC;
      }
    }

    .hit {
      color: red;
      font-weight: bolder;
    }
  }
}
