@import "../scss/vars";
$calendar-days-width: 12.6%;
$calendar-days-bg: #FFF;

#schedule {
  height: 40%;
  position: relative;

  #calendar {
    .datepicker-container {
      width: 100%;

      .datepicker-panel {
        .picked {
          background: $color;
          color: #FFF;
        }

        .week {
          color: $active-color;
        }

        ul:first-child {
          font-size: 15px;
          font-weight: bolder;
          border-bottom: 1px solid $border-color;

          li[data-view~="current"] {
            width: 60%;
          }

          li[data-view~="next"],
          li[data-view~="prev"] {
            width: 20%;
          }
        }

        ul[data-view="week"] {
          color: $active-color;
        }

        ul {
          li {
            width: 13.5%;
          }
        }
      }
    }
  }

  .action {
    position: absolute;
    bottom: 5px;
    right: 5px;
  }

  .list-content {
    position: absolute;
    top: 242px;
    bottom: 0;
    width: 100%;
    overflow-y: scroll;

    .pure-table {
      width: 100%;
      table-layout: fixed;

      thead {
        background: none;
      }

      td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
