@import 'vars';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body,
html {
  background-color: $bg;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

#container {
  position: absolute;
  left: $sidebar-width;
  right: 0;
  min-width: $min-width;
  min-height: $min-height;
  height: 100%;
  overflow: hidden;
}

.pure-menu-heading {
  pointer-events: none;
}

.pure-menu-link {
  &:focus,
  &:hover {
    background: none;
    color: #FFF;
  }
}

.icon-label {
  margin-right: 8px;
}

.box {
  float: left;
  width: 100%;
  padding: 1px;
  border: 1px solid $border-color;
  background-color: $box-bg;

  .pure-menu {
    .pure-menu-link {
      padding: 5px 20px 3px;
      font-weight: lighter;
      font-size: 12px;

      &:focus,
      &:hover {
        color: $active-color;
      }
    }
  }
}

.box-title {
  display: table;
  text-align: center;
  color: #FFF;

  > * {
    display: table-cell;
    vertical-align: middle;
  }

  a {
    color: #FFF;
    text-decoration: none;
    font-weight: lighter;
  }

  h4 {
    margin-top: 15px;
  }
}

.list-header {
  min-width: 200px;
  margin: 3px 5px;
  height: $list-header-height;
}

.list-content {
  padding-left: 5px;
  padding-right: 5px;
  overflow: hidden;

  .list-item {
    &:hover {
      color: $color;
    }

    .content {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .right {
      display: inline-block;
      float: right;
    }
  }

  ul {
    overflow: auto;
    height: 100%;

    li {
      min-width: 100px;
      border-bottom: 1px dotted $bg;
      margin-top: 5px;
    }
  }
}
