$col-left-width: 300px;
$col-right-width: 460px;

#content {
  min-width: $min-width - $sidebar-width;
  min-height: 800px;
  height: 100%;
  margin-top: - $navbar-height;
  padding-top: $navbar-height;
  font-size: 13px;
  font-weight: lighter;
  padding-left: $col-left-width;
  padding-right: $col-right-width;

  > div {
    float: left;
  }

  &:after {
    content: '';
    clear: both;
  }

  .list-header {
    min-width: 200px;
    margin: 3px 5px;
    height: 25px;
  }

  .list-content {
    padding-left: 5px;
    padding-right: 5px;

    ul {
      list-style-position: inside;

      li {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        min-width: 100px;
        border-bottom: 1px dotted $bg;
        margin-top: 5px;

        .right {
          position: absolute;
          right: 10px;
        }
      }
    }
  }

  .col {
    float: left;
    height: 100%;

    &:after {
      content: '';
      clear: both;
    }
  }

  .box {
    float: left;
    width: 100%;
    padding: 1px;
    border: 1px solid $border-color;
    background-color: $box-bg;

    .pure-menu {
      .pure-menu-link {
        padding: 5px 20px 3px;
        font-weight: lighter;
        font-size: 12px;

        &:focus,
        &:hover {
          color: $active-color;
        }
      }
    }
  }

  .more {
    float: right;

    &:after {
      content: '';
      clear: both;
    }
  }

  #col-left {
    position: relative;
    left: -$col-left-width;
    width: $col-left-width;
    margin-left: -100%;

    #weather {
      background-color: $wether-bg;
      height: 30%;
    }

    #tasks {
      height: 40%;
    }

    #attendance-company {
      width: 50%;
      height: 30%;
      background-color: $attendance-company-bg;
    }

    #attendance-person {
      width: 50%;
      height: 30%;
      background-color: $attendance-person-bg;
    }
  }

  #col-center {
    width: 100%;

    #schedule {
      height: 30%;
    }
  }

  #col-right {
    position: relative;
    right: - $col-right-width;
    width: $col-right-width;
    margin-left: - $col-right-width;

    #common {
      width: 50%;
      height: 30%;
      background-color: $common-bg;

      > {
        width: 100%;
      }

      #common-files {
        width: 100%;
        height: 33%;
        border-bottom: 1px solid $border-color;
      }

      #common-sites {
        height: 66%;
        padding: 40px 15px;

        > a {
          padding-bottom: 10px;
          color: #FFF;
          float: left;
          width: 50%;
        }
      }
    }

    #notify {
      width: 50%;
      height: 30%;

      i {
        color: red;
      }
    }
  }
}
