@import "vars.scss";
#container {
  overflow: auto;
}

#content {
  overflow: auto;
  position: absolute;
  top: $navbar-height;
  bottom: 0;
  width: 100%;
  padding: 0 10px;
  background: #FFF;
  #issue_user {
    text-align: right;
  }
  #affix {
    padding: 5px 30px;
    border: solid 1px #ccc;
    li {
      list-style-position: outside;
    }
  }
}
