@import "vars.scss";
#container {
  overflow: auto;
}

.min-size {
  min-width: 200px;
  min-height: 200px;
}

#content {
  overflow: auto;
  position: absolute;
  top: $navbar-height;
  bottom: 0;
  width: 100%;
  min-width: 1080px;
  padding-top: 10px;
  padding-left: 150px;
  padding-right: 150px;
  background: #FFF;
  #issue_user {
    position: fixed;
    bottom: 10px;
    right: 200px;
  }
  #affix {
    margin-bottom: 10px;
    padding: 5px 30px;
    border: solid 1px #ccc;
    li {
      list-style-position: outside;
    }
  }
}

#detail {
  width: 100%;
  border: none;
}
