@import "vars.scss";
#container {
  overflow: auto;
}

.min-size {
  min-width: 200px;
  min-height: 200px;
}

#content {
  overflow: auto;
  position: absolute;
  top: $navbar-height;
  bottom: 0;
  width: 100%;
  padding: 0 10px;
  background: #FFF;
  #issue_user {
    text-align: right;
  }
  #affix {
    padding: 5px 30px;
    border: solid 1px #ccc;
    li {
      list-style-position: outside;
    }
  }
}

#detail {
  width: 100%;
  border: none;
}

#to-top {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: #8b8b8c;
  text-align: center;
  >i {
    font-size: 40px;
  }
}
