@import "vars";
.oper {
  z-index: 999;
  display: none;
  position: fixed;
  right: 40px;
  width: 50px;
  font-size: 10px;
  color: #8b8b8c;
  text-align: center;
  >i {
    font-size: 40px;
  }
}

#to-top {
  bottom: 100px;
}

#back-forward {
  bottom: 30px;
}
