@import "vars";
.min-size {
  min-width: $min-width;
  min-height: $min-height;
}

#back-forward {
  color: #000;
  margin-right: 10px;
  &:hover,
  &:active,
  &:focus {
    color: $color!important;
  }
}
