@import "vars.scss";
$pagination-height: 50px;
#container {
  overflow: auto;
}

.min-size {
  min-width: 200px;
  min-height: 200px;
}

#content {
  overflow: auto;
  position: absolute;
  top: $navbar-height;
  bottom: 0;
  width: 100%;
  min-width: 500px;
  .box {
    height: 100%;
    >* {
      width: 98%;
    }
    .list-content {
      font-size: 18px;
      >ul {
        list-style: disc inside;
        >li {
          margin: 15px 0;
        }
      }
      position: absolute;
      top: $list-header-height+10;
      bottom: $pagination-height;
      padding: 0 20px;
      .list-item {
        color: #000;
        .content {
          width: 90%;
        }
      }
    }
    #pagination {
      position: absolute;
      bottom: 0;
      height: $pagination-height;
    }
  }
}
