#content {
  height: 100%;

  .box {
    height: 100%;
    padding: 5px 20px;

    .list-content {
      overflow: auto;
      height: 100%;

      .list-item {
        .content {
          width: 92%;
        }
      }
    }
  }
}
