@import "vars.scss";
$pagination-height: 50px;

#container {
  overflow: auto;
}

#content {
  overflow: auto;
  position: absolute;
  top: $navbar-height;
  bottom: 0;
  width: 100%;

  .box {
    height: 100%;

    > * {
      width: 100%;
    }

    .list-header {}

    .list-content {
      position: absolute;
      top: $list-header-height;
      bottom: $pagination-height;
      padding: 0 20px;

      .list-item {
        .content {
          width: 92%;
        }
      }
    }

    #pagination {
      position: absolute;
      bottom: 0;
      height: $pagination-height;
    }
  }
}
