#sidebar {
  position: fixed;
  width: $sidebar-width;
  height: 100%;

  #welcome {
    height: $welcome-height;
    padding-top: 10px;
    text-align: center;
    background-color: $welcome-bg;
    font-size: 12px;
    color: $welcome-color;

    > p {
      color: #D96C00;
      font-size: 10px;
    }
  }

  #tree {
    height: 100%;
    color: $tree-color;
    @mixin level($level) {
      a {
        padding-left: $level * 20px;
      }
    }

    .oper {
      float: right;
    }

    ul.level1 li {
      border-bottom: 2px solid #FFF;
      font-size: 17px;
      background-color: $tree-level1-bg;
      @include level(1);

      a {
        color: #F5F5F5;

        &:hover {
          color: $color;
        };
      }

      ul.expand {
        display: block;
      }

      ul {
        display: none;

        li {
          a {
            color: #000;
          }
          background-color: $bg;
          @include level(2);

          ui li {
            @include level(3);
          }
        }
      }
    }
  }
}
