$bg: #DCDCDC;
$color: #F16C00;
$tab-header-height: 30px;
$tab-header-bg: #E8E8E8;
$border-color: #CCC;
$tab-content-bg: #FFF;
$sidebar-width: 300px;
$welcome-bg: #000000;
$welcome-color: #B5B5B5;
$welcome-height: 50px;
$tree-level1-bg: #30373F;
$tree-color: #F5F5F5;
$tree-font-size: 15px;
$navbar-height: 50px;
$navbar-bg: #0067A6;
$wether-bg: #00C7CA;
$attendance-person-bg: #1C5A73;
$attendance-company-bg: #3CD7DB;
$news-content-bg: #00ABD7;
$news-title-bg: #F3572E;
$finance-bg: #EFC028;
$common-bg: #F3572E;
$message-logo-bg: #008972;
$active-color: #3BC1F8;
$border-color: #CCC;
$box-bg: #FFF;
$min-width: 1024px + $sidebar-width;
$min-height: 800px;
$col-left-width: 460px;
$col-right-width: 400px;
$list-header-height: 25px;
