<ul class="pure-menu-list">
  {{#children}}
  <li class="pure-menu-item">
    <a href="#" class="pure-menu-link"><i class="fa fa-{{gender}}" aria-hidden="true"></i>{{name}}</a>
  </li>
  {{/children}}
</ul>
