@import "../scss/vars";

#contact {
  width: $col-right-width / 2 !important;
  height: 30%;

  #contract-search {
    width: 50%;
  }

  .icon-label {
    color: $active-color;
  }

  .fa-male {
    color: $active-color;
  }

  .fa-female {
    color: red;
  }
}
