@import "../scss/vars";

#contact {
  width: $col-right-width / 2 !important;
  height: 30%;
  position: relative;

  #contract-search {
    width: 50%;
  }

  .tree {
    position: absolute;
    top: $list-header-height + 10px;
    bottom: 0;
    width: 100%;

    .pure-menu-link {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-left: 30px;
      color: #000;

      &:focus,
      &:hover {
        color: $color;
      }
    }

    .pure-menu-item {
      text-align: center;

      span {
        font-size: 12px;
        border: 1px solid $border-color;
      }

      .oper {
        position: absolute;
        left: 5px;
      }
    }

    .person {
      text-align: left;

      .select {
        background: $active-color !important;
      }

      .pure-menu-link {
        font-size: 11px;
        padding-left: 5px;

        i {
          margin-right: 3px;
        }
      }
    }
  }

  .icon-label {
    color: $active-color;
  }

  .fa-male {
    color: $active-color;
  }

  .fa-female {
    color: red;
  }
}

.contact-info {
  padding: 0 0 0 80px;

  * {
    padding: 0;
    margin: 0;
  }

  .group {
    line-height: 40px;
    padding-left: 10px;

    .field-label {
      float: left;
      width: 100px;
      text-align: right;
      padding-right: 30px;
    }

    .field-content {
      float: left;
    }

    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }
}
