<div class="contact-info">
  <div class="group">
    <h3 class="field-label">姓名:</h3>
    <div class="field-content">{{name}}</div>
  </div>
  <div class="group">
    <h3 class="field-label">性别:</h3>
    <div class="field-content">{{sex}}</div>
  </div>
  <div class="group">
    <h3 class="field-label">部门:</h3>
    <div class="field-content">{{dept_name}}</div>
  </div>
  <div class="group">
    <h3 class="field-label">岗位:</h3>
    <div class="field-content">{{role_name}}</div>
  </div>
  <div class="group">
    <h3 class="field-label">电话:</h3>
    <div class="field-content">{{telephonenumber}}</div>
  </div>
  <div class="group">
    <h3 class="field-label">邮箱:</h3>
    <div class="field-content">{{email}}</div>
  </div>
  <div class="group">
    <h3 class="field-label">QQ:</h3>
    <div class="field-content">{{qq}}</div>
  </div>
</div>
