<ul class="pure-menu-list level1">
  {{#children}}
  <li class="pure-menu-item">
    <span class="pure-menu-link">{{name}}{{#children.length}}<i class="oper fa fa-plus" aria-hidden="true"></i>{{/children.length}}</span> {{> children}}
  </li>
  {{/children}}
</ul>
