 {{#data}}
<li>
  <a class="list-item" href="#" taskid="{{id}}" fid="{{fid}}" status="{{status}}" wtype="{{wtype}}">
    <span class="content">{{title}}</span>
    <span class="right">{{date}}</span>
  </a>
</li>
{{/data}}
