@import "../scss/vars";
$finance-title-width: 60px;

#finance {
  width: 50%!important;
  height: 30%;
  background-color: $finance-bg!important;

  > div {
    height: 100%;
    float: left;
  }

  .finance-title {
    width: $finance-title-width;
    border-right: 1px solid $border-color;
  }

  #finance-content {
    width: 100%;
    margin-left: - $finance-title-width;
    padding-left: $finance-title-width;

    > * {
      height: 33%;
      width: 100%;
    }

    #borrow {}

    #reimbursment {
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
    }
  }
}
