@import "../scss/vars";
$message-title-width: 60px;

#message {
  height: 40%;

  & > * {
    float: left;
    height: 100%;
  }

  .box-title {
    width: $message-title-width;
    background-color: $message-logo-bg;
  }

  .message-content {
    position: relative;
    margin-left: - $message-title-width;
    width: 100%;
    padding: 10px 10px 10px $message-title-width;

    .more {
      color: $active-color;
    }

    .list-content {
      height: 88%;

      .content {
        width: $col-right-width - 220px;
      }
    }
  }
}
