<ul>
  {{#message}}
  <li>
    <a class="list-item" href="#" newsid={{id}}>
      <span class="content"> {{newstitle}} </span>
      <span class="right">{{issue_date}}</span>
    </a>
  </li>
  {{/message}}
</ul>
