@import "../scss/vars";

#message {
  height: 40%;

  & > * {
    float: left;
    height: 100%;
  }

  .box-title {
    width: 20%;
    background-color: $message-logo-bg;
  }

  .message-content {
    position: relative;
    width: 80%;
    padding: 10px;

    .more {
      color: $active-color;
    }

    .list-content {
      ul {
        list-style: none;
        li {
          width: $col-right-width - 220px;
        }
      }
    }
  }
}
