@import "../scss/vars";

#news {
  height: 70%;
  background-color: $news-content-bg!important;

  .news {
    height: 33%;
    color: #FFF;
    border-bottom: 1px solid $border-color;

    & > * {
      float: left;
      height: 100%;
    }

    &:after {
      content: '';
      clear: both;
    }

    .news-title {
      width: 20%;
      background-color: $news-title-bg;
      color: #FFF;
    }

    .news-content {
      position: relative;
      width: 60%;
      padding: 3px 15px;
    }

    img {
      width: 20%;
    }
  }
}
