<ul>
  {{#data}}
  <li>
    <a class="list-item" href="#" newsid="{{id}}">
      <span class="content"> {{newstitle}}   <span class="time">{{issue_date}}</span></span>
      </a>
  </li>
  {{/data}}
</ul>
