@import "../scss/vars";
$news-title-width: 80px;
$news-img-width: 150px;

#news {
  height: 70%;
  background-color: $news-content-bg!important;

  .news {
    height: 33%;
    color: #FFF;
    border-bottom: 1px solid $border-color;

    & > * {
      float: left;
      height: 100%;
    }

    &:after {
      content: '';
      clear: both;
    }

    .news-content {
      position: relative;
      width: 100%;
      margin-left: - $news-title-width - $news-img-width;
      padding: 3px 15px 3px $news-title-width + $news-img-width;

      a {
        color: #FFF;
      }
    }

    .news-title {
      width: $news-title-width;
      background-color: $news-title-bg;
      color: #FFF;
    }

    img {
      width: $news-img-width;
    }
  }
}
