@import "../scss/vars";

#navbar {
  color: #A7C5D9;
  height: $navbar-height;
  background-color: $navbar-bg;

  .brand {
    img {
      height: $navbar-height;
    }
  }

  #close-system {
    background-color: $color;
    height: $navbar-height;
    width: 45px;
    cursor: pointer;
    margin: auto;

    &:hover {
      color: $navbar-bg!important;
    }
  }

  .pure-menu-heading {
    font-size: 10px;
  }

  .pure-menu-link {
    &:focus,
    &:hover {
      background: none!important;
      color: $color!important;
    }
  }

  .pure-menu-heading,
  .pure-menu-link {
    font-weight: lighter;
    color: #F5F5F5;
    i{
      margin-right: 3px;
    }
  }

  .right {
    float: right;
    color: #FFF;
  }
}
