@import "../scss/vars";

#notify {
  width: $col-right-width / 2 !important;
  height: 30%;

  .tab-header {
    padding: 0;
  }

  .tab-content {
    height: 98%;

    .list-item {
      .right {
        position: static;
        display: inline-block;
        float: right;
      }
    }
  }

  .gift {
    font-size: 12px;

    .fa-gift {
      color: red;
    }
  }
}
